'.source.aoz-pb':
  # Print
  'Print':
    'prefix': '$'
    'body': 'Print'
 # Procedure
  'Procedure[]':
    'prefix': 'Pro'
    'body': """Procedure[$1]
    $2
    End Proc
    """
  # If
  'If...Else':
    'prefix': 'Ife'
    'body': """If $1

    Else

    End if
    """
  # If
  'If...Endif':
    'prefix': 'If'
    'body': """If $1

    End if
    """
  # Do
  'Do...Loop':
    'prefix': 'Do'
    'body': """Do

    Loop
    """
  # Repeat
  'Repeat...Until':
    'prefix': 'Repeat'
    'body': """Repeat

    Until $1
    """
  # While
  'While...Wend':
    'prefix': 'While'
    'body': """While $1

    Wend
    """
  # For Next
  'For...next':
    'prefix': 'For'
    'body': """For $1 = $2 to $3

    next $4
    """
  # For Next
  'For...step..next':
    'prefix': 'ForStep'
    'body': """For $1 = $2 to $3 step $4

    next $5
    """
