# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.aoz-pb'
'name': 'AOZ'
'fileTypes': [
  'aoz'
]
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'string.quoted.aoz'
  }
  {
    match: "-?\\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\b"
    name: "constant.numeric.aoz"
  }
  {
    begin: "\\("
    beginCaptures:
      "0":
        name: "punctuation.section.round-brackets.begin.aoz"
    end: "\\)"
    endCaptures:
      "0":
        name: "punctuation.section.round-brackets.end.aoz"
    name: "meta.round-brackets"
  }
  {
    begin: "(#[a-zA-Z])"
    beginCaptures:
      "2":
        name: "punctuation.definition.string.begin.aoz"
    end: "\:"
    endCaptures:
      "1":
        name: "punctuation.definition.string.end.aoz"
    name: "keyword.control.aoz"
  }
  {
    begin: "(?i:\\b(REM)\\b)"
    beginCaptures:
      "0":
        name: "punctuation.definition.string.begin.aoz"
    end: "\\n"
    endCaptures:
      "0":
        name: "punctuation.definition.string.end.aoz"
    name: "string.quoted.double.aoz"
  }
  {
    begin: "\/[*]"
    beginCaptures:
      "0":
        name: "punctuation.definition.string.begin.aoz"
    end: "[*]\/"
    endCaptures:
      "0":
        name: "punctuation.definition.string.end.aoz"
    name: "string.quoted.double.aoz"
  }
  {
    begin: "\//"
    beginCaptures:
      "0":
        name: "punctuation.definition.string.begin.aoz"
    end: "\\n"
    endCaptures:
      "0":
        name: "punctuation.definition.string.end.aoz"
    name: "string.quoted.double.aoz"
  }
  {
    begin: "\""
    beginCaptures:
      "0":
        name: "punctuation.definition.string.begin.aoz"
    end: "\""
    endCaptures:
      "0":
        name: "punctuation.definition.string.end.aoz"
    name: "string.quoted.double.aoz"
    patterns: [
      {
        match: "\"\""
        name: "constant.character.escape.apostrophe.aoz"
      }
    ]
  }
  {
    match: "(?i:\\b(Load|Asset|Procedure|End Proc|Return|Continue|Gosub|Goto|Get|Scale|Skew|Mod|Amal|Home|Swap|Channel|Screen Width|Screen Height|Shared|Palette|Paper|Inkey|Track|Init|Volume|LoadMaps|MapTile|MapView|GetTileValue|SetTileValue|Data|Size|Ref|Or|Int|Str|Bob Col|Lowres|Min|Max|Degree|Global|Dim|Hot Spot|Screen|Open|Hide|Show|Vbl|Add|Dec|Inc|Rnd|Abs|Timer|Cls|Curs|Off|On|Set|Transparent|Randomize|Double Buffer|Display|Paste|Bob|Set|Font|Ink|Pen|Text|Wait|Key|Reserve|Zone|Front|Back|Mouse|Click|Sam|Play|Stop|State|Step|Stop)\\b)"
    name: "keyword.control.aoz"
  }
  {
    match: "(?i:\\b(If|Then|Else|ElseIf|Else If|End If|While|Wend|For|To|Each|In|Do|Until|Loop|Repeat|Exit|Next)\\b)"
    name: "constant.language.aoz"
  }
]
